<h2>
  <%= @account.name %>'s transactions
</h2>
<h3 class="<%= @account.total > 0 ? 'positive' : (@account.total < 0 ? 'negative':'' )%>">
  Total :  <%= @account.total %>
</h3>
<div class="row">
  <div class="col-md-8">
    <div class="transactions" ng-app="financio" ng-controller="TransactionsCtrl" ng-cloak="true" ng-init="init('<%= @account.id %>')">
      <table class="table" ng-table="transactionsTable" show-filter="true">
        <tr ng-repeat="transaction in $data track by $index">
        <td data-title="'#'">
          {{$index+1}}
        </td>
        <td data-title="'Id'" sortable="'id'">
          {{transaction.id}}
        </td>
        <td data-title="'Category'" sortable="'category_name'" filter="{'category_name':'text'}">
          {{transaction.category_name}}
        </td>
        <td data-title="'Value'" sortable="'value'">
          {{transaction.value}}
        </td>
        <td data-title="'Subject'" sortable="'subject'">
          {{transaction.subject}}
        </td>
        <td data-title="'Purpose'" sortable="'purpose'">
          {{transaction.purpose}}
        </td>
        <td data-title="'Date'" sortable="'date'">
          {{transaction.transaction_date}}
        </td>
        </tr>

      </table>


    </div>
  </div>
  <div class="col-md-4">
    <%= form_for(@transaction=AccountTransaction.new,  :url => create_account_account_transaction_path(@transaction), :html => { :role => 'form'}) do |f| %>
        <h3>Add new Transaction</h3>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit 'Add new transaction', :class => 'button right' %>
    <% end %>
  </div>
</div>
