<div class="row">

  <h2>
    <%= @account.name %>'s transactions
  </h2>
  <div class="col-md-8">

    <h3 class="<%= @account.total > 0 ? 'positive' : (@account.total < 0 ? 'negative':'' )%>">
      Total :  <%= @account.total %>
    </h3>
    <div class="transactions" ng-app="financio" ng-controller="TransactionsCtrl" ng-cloak="true" ng-init="init('<%= @account.id %>')">
      <table class="table" ng-table="transactionsTable" show-filter="true">
        <tr ng-repeat="transaction in $data track by $index">
        <td data-title="'#'">
          {{$index+1}}
        </td>
        <td data-title="'Id'" sortable="'id'">
          {{transaction.id}}
        </td>
        <td data-title="'Category'" sortable="'category_name'" filter="{'category_name':'text'}">
          {{transaction.category_name}}
        </td>
        <td data-title="'Value'" sortable="'value'">
          {{transaction.value}}
        </td>
        <td data-title="'Subject'" sortable="'subject'">
          {{transaction.subject}}
        </td>
        <td data-title="'Purpose'" sortable="'purpose'">
          {{transaction.purpose}}
        </td>
        <td data-title="'Date'" sortable="'date'">
          {{transaction.transaction_date}}
        </td>
        </tr>

      </table>


    </div>
  </div>
  <div class="col-md-4">
    <%= form_for(@transaction=AccountTransaction.new, :url => account_account_transactions_path(@account,@transaction), :html => { :role => 'form'}) do |f| %>
        <h3>Add new Transaction</h3>
        <div class="form-group">
          <%= f.label :cateogry %>
          <%= f.text_field :category, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :value %>
          <%= f.text_field :value, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :purpose %>
          <%= f.text_field :purpose, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :subject %>
          <%= f.text_field :subject, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :transaction_date %>
          <%= f.text_field :transaction_date , :data => {:provide => "datepicker"} %>

        </div>



        <%= f.submit 'Add new transaction', :class => 'btn btn-success' %>
    <% end %>
  </div>
</div>
